{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="{{ app.url_generator.generate('postCadastro') }}"><button>Novo post (+)</button></a>
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{{ app.url_generator.generate('postAlteracao', {id: post.seq_post}) }}"><h2 class="post-title">{{ post.des_titulo }}</h2></a>
                    <p class="post-subtitle">{{ post.txt_conteudo }}</p>
                    <p class="post-meta">Postado por <a href="#">{{ post.nom_autor }}</a> em </p>
                </div>
                <a href="{{ app.url_generator.generate('postDelecao',{id: post.seq_post}) }}"><button>Excluir post (-)</button></a>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


