{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    {% if post %}
                    <form action="{{ app.url_generator.generate('postAtualizacao', {id: post.seq_post}) }}" method="post">
                    {% else %}
                    <form action="{{ app.url_generator.generate('postGravacao') }}" method="post">
                    {% endif %}
                        <fieldset>
                            <legend>Informe:</legend>
                                <label for="titulo">Título:</label><br />
                                <input type="text" id="titulo" type="text" name="desTitulo" value ="{% if post %}{{ post.des_titulo }}{% endif %}"><br />
                                <label for="conteudo">Conteúdo:</label><br>
                                <textarea id="conteudo" name="txtConteudo">{% if post %}{{ post.txt_conteudo }}{% endif %}</textarea><br />
                                <label for="autor">Autor:</label><br />
                                <input type="text" id="autor" type="text" name="nomAutor" value ="{% if post %}{{ post.nom_autor }}{% endif %}"> <br />
                                <label for="data">Data:</label><br />
                                <input type="date" id="data" name="datPost" value ="{% if post %}{{ post.dat_publicacao|date('d/m/Y', false) }}{% endif %}">
                        </fieldset>
                        <br />
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpar">
                    </form>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{ app.url_generator.generate('postLista') }}">Todos os posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}