{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">{{ post.des_titulo }}</h2>
                    <p>{{ post.txt_conteudo }}</p>
                    <p class="post-meta">Postado por <a href="#">{{ post.nom_autor }}</a> em {{ post.dat_publicacao|date('Y-m-d H:i:s') }}</p>
                </div>
                <a href="{{ app.url_generator.generate('postDelecao',{id: post.seq_post}) }}">Excluir</a>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{ app.url_generator.generate('postLista') }}">Todos os posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


