{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post/{{ post.id }}">
                        <h2 class="post-title">
                            {{ post.titulo }}
                        </h2>
                    </a>                        
                    <p>{{ post.conteudo }}</p>
                    <p class="post-meta">Postado por <a href="#">{{ post.autor }}</a> em {{ post.data }}</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{{ app.url_generator.generate('postLista') }}">Todos os posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


